kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: redis
  labels:
    name: redis-deployment
    app: voting-app
  namespace: voting-app
spec:
  replicas: 1
  selector:
    matchLabels:
     name: redis
     role: redisdb
     app: voting-app
  template:
    spec:
      containers:
        - name: redis
          image: redis:alpine
          resources:
            limits:
              memory: 64Mi
            requests:
              memory: 32Mi
    metadata:
      labels:
        name: redis
        role: redisdb
        app: voting-app
---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: redis
  name: redis
  namespace: voting-app
spec:
  ports:
    - port: 6379
      targetPort: 6379
  selector:
    name: redis
    app: voting-app
    role: redisdb
